
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}.container{
    height: 50vh;
    width: 50%;
    background-color: white;
    padding: 30%;
}
.container2{
    height: 50vh;
    width: 50%;
    background-color:  rgb(255, 255, 255);
    padding: 30%;
}
.container3{
    height: 50vh;
    width: 50%;
    background-color:  rgb(255, 255, 255);
    padding: 30%;
}
.container4{
    height: 30vh;
    width: 50%;
    background-color:  rgb(255, 255, 255);
    padding: 40%;
}
.container5{
    height: 30vh;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 40%;
}
